html, body, section, header, li, ul {
  margin: 0;
  padding: 0; }

div, section, header, li, ul {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

body {
  width: 100%;
  min-width: 1200px;
  background: url("../images/register-bg.png") no-repeat center center fixed;
  background-size: cover;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif; }

#vueController-register {
  width: 100%; }
  #vueController-register #register-container {
    width: 100%;
    padding: 0 4%;
    margin-top: 20vh; }
    #vueController-register #register-container #register-childContainer {
      margin: 0 auto;
      width: 500px;
      padding: 0 4%; }
      #vueController-register #register-container #register-childContainer #register-form {
        width: 100%;
        padding-top: 15px;
        background-color: rgba(255, 255, 255, 0.55);
        border-radius: 4px; }
        #vueController-register #register-container #register-childContainer #register-form div {
          text-align: center; }
          #vueController-register #register-container #register-childContainer #register-form div input {
            width: 210px;
            height: 36px;
            margin: 15px 0; }
          #vueController-register #register-container #register-childContainer #register-form div button {
            width: 210px;
            height: 36px;
            margin: 15px 0 30px;
            color: white;
            background-color: #0084ff; }
        #vueController-register #register-container #register-childContainer #register-form h4 {
          text-align: center;
          font-size: 16px;
          margin: 10px 0 10px; }
