html, body, section, header, li, ul {
  margin: 0;
  padding: 0; }

div, section, header, li, ul {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

body {
  width: 100%;
  min-width: 1200px;
  background: url("../images/register-bg.png") no-repeat center center fixed;
  background-size: cover;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif; }

#vueController-register {
  width: 100%; }
  #vueController-register #register-container {
    padding: 0 4%;
    height: 200px;
    background-color: #2D6CDF; }
