#groupTeam-container{
  table#groupTeam-table{
    width: 100%;
    font-size: 12px;
    td,th{
      text-align: center;
      vertical-align: middle;
    }
    th{
      padding:18px;
    }
    td{
      height:32px;
    }
    tbody {
      tr{
        background: #fff;
        td{
          a{
            background-color: #42B8DD;
            display: inline-block;
            padding:4px 8px;
            color:#fff;
            text-decoration:none;
            cursor: pointer;
            width:80px;
          }
        }
      }
    }
  }
  div.group-table-page{
    width:100%;
    font-size: 12px;
    ul{
      float: right;
      display: inline-block;
      border-radius: 4px;
      margin: 20px 0;
      padding-left: 0;
      li{
        display: inline;
      }
      li{
        list-style: none
      }
    }
    li:first-child> span  {
      margin-left: 0;
    }
    span {
      border: 1px solid #ddd;
      text-decoration: none;
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: 1px;
      line-height: 1.42857143;
      color: #000000;
      cursor: pointer;
      width: 15px;
      text-align: center;
    }
    span:hover{
      background-color: #eee;
    }
    span.banClick{
      cursor:not-allowed;
    }
    .active span{
      color: #fff;
      cursor: default;
      background-color: rgb(195,13,15);
      border-color: rgb(195,13,15);
      width: 15px;
      text-align: center;
    }
    .spanWidth{
      width:40px;
    }
    i{
      font-style:normal;
      color: #d44950;
      margin: 0 4px;
      font-size: 12px;
    }
  }
}