html,body,section,header,li,ul{
  margin:0;
  padding:0;
}
div,section,header,li,ul {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
body{
  width: 100%;
  min-width: 1200px;
  background:url('../images/register-bg.png') no-repeat center center fixed;
  background-size: cover;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}

#vueController-register{
  width: 100%;
  #register-container{
    width: 100%;
    padding: 0 4%;
    margin-top: 20vh;
    #register-childContainer{
      margin: 0 auto;
      width: 500px;
      padding: 0 4%;
      #register-form{
        width: 100%;
        padding-top: 15px;
        background-color: rgba(255, 255, 255, 0.55);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        div{
          text-align: center;
          input{
            width: 210px;
            height: 36px;
            margin: 15px 0;
          }
          button{
            width: 210px;
            height: 36px;
            margin: 15px 0 30px;
            color: white;
            background-color: #0084ff;
          }
        }
        h4{
          text-align: center;
          font-size: 16px;
          margin: 10px 0 10px;
        }
      }
    }
  }
}